body {
    font-family: 'Arial Narrow';
}

#index {
    background-color: lightblue;
}

#pureheroine {
    background-color: #181818;
    color: #e9e9e9;
}

#melodrama {
    background-color: #0033b2;
    color: #ed944c;
}

#solarpower {
    background-color: #bfd25a;
    color: #934502;
}

#virgin {
    background-color: #0c5a80;
    color: #4b9dcc;
}

#canvas {
    border: 5px solid white;
    height: 500px;
    width: 900px;
    margin-bottom: 2em;
}

#container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}

.imgcontainer {
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imgbox {
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    transition: 1s;
    position: relative;
}

.imgbox img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.imgbox:hover {
    transform:scale(1.3);
    z-index:2;
}

.imgbox .imgoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 5px;
    pointer-events: none;
}

.imgbox .imgoverlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.imgbox:hover .imgoverlay {
    opacity: 1;
}

.imgbox:hover .imgoverlay > * {
    transform: translateY(0);
}

.imgbox .imgtitle {
    font-size: 2em;
    font-weight: bold;
}

.imgbox .imgdescription {
    font-size: 1.25em;
    margin-top: 0.25em;
}

.navbar ul {
    list-style-type: none;
    background-color: lightpink;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    display: inline-block;
}

.navbar a:hover {
    background-color: lightcoral;
}

.navbar li {
    display: inline-block;
}

.form {
    text-align: center;
}
